# engine-strict makes the project refuse to work with the wrong
# node version. This is more of a QoL setting so people get
# notified when trying to build the project instead of
# the build failing with a mysterious error code
engine-strict=true
# automatically pin the installed versions instead of allowing
# for automatic major and minor upgrades when runnning npm update
save-exact=true
